doctype html  
html(lang='en')  
block vars
  - var title='que pedooooo'
  head
    title #{title}
    link(rel='stylesheet' href='css/main.min.css')
  body
    h1 Pug Examples
    div#container
    p Cool Pug example!
    script(type='text/javascript' src='js/vendors.min.js')
    script(type='text/javascript' src='js/bundle.min.js')
