block vars
  - var title='Ejemplo simple de JAVA'
doctype html  
html(lang='en')  
  head
    meta(charset='utf-8')
    meta(http-equiv='refresh' content='0; url=login.html')  
    title #{title}
  body
    div#container
    script(type='text/javascript' src='js/vendors.min.js')
    script(type='text/javascript' src='js/bundle.min.js')
