block vars
  - var title='Login'
doctype html  
html(lang='es')  
  head
    meta(charset='utf-8')
    title #{title}
    link(rel='stylesheet' href='css/login.min.css')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js')
  body
    div.body
    div.grad
    div.header
      div Ejemplo 
        span Java
    div#login.login
    script(type='text/javascript' src='js/vendors.min.js')
    script(type='text/javascript' src='js/bundle.min.js')
